= simple_form_for @paper do |f|
  = f.input :name
  = f.input :author
  = f.input :contact
  = f.input :format
  = f.button :submit
  -#.row
  -#  .col-md-12
  -#    %h3 Versions
  -#    - f.simple_fields_for :versions do |v|
  -#      = render